@*
* This template is called from the `index` template. This template
* handles the rendering of the page header and body tags. It takes
* two arguments, a `String` for the title of the page and an `Html`
* object to insert into the body of the page.
*@
@()

<!DOCTYPE html>
<html lang="en">

<head>
    @* Here's where we render the page title `String`. *@
    <title>Yet Another Movie Recommender System</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/bootstrap.min.css")">
    <script src="@routes.Assets.versioned("javascripts/jquery.min.js")" type="text/javascript"/>
    <script src="@routes.Assets.versioned("javascripts/popper.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("javascripts/bootstrap.min.js")" type="text/javascript"></script>
    <link rel="shortcut icon" type="image/png" href="@routes.Assets.versioned("images/favicon.png")">
    <style>
    /*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.form-control:focus {
  box-shadow: none;
}

.form-control-underlined {
  border-width: 0;
  border-bottom-width: 1px;
  border-radius: 0;
  padding-left: 0;
}

body, html {
  height: 100%;
  margin: 0;
}

.bg {
  /* The image used */
  background-image: url('@routes.Assets.versioned("images/wallpaper.jpg")');

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#search-box {
  background: white;
}
    </style>
</head>

  <body class="bg">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="@routes.HomeController.index">Yet Another Movie Recommender</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
                aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                    <a class="nav-item nav-link" href="@routes.LeaderboardController.leaderboard()">Discover</a>
                    <a class="nav-item nav-link" href="@routes.MovieController.popularMovies()">Popular</a>
                </div>
            </div>
        </div>
    </nav>
    <br/>

 <div class="row mb-5">
    <div class="col-lg-5 mx-auto">

        <form>
          <div class="row mb-4">
            <div class="form-group col-md-9">
              <input id="search-box" type="text" placeholder="Search for a movie" onkeyup="myFunction()" class="form-control form-control-underlined">
              <div id="search-results" class="list-group">
                <a href="#" class="list-group-item list-group-item-action" style="display:none;"></a>
                <a href="#" class="list-group-item list-group-item-action" style="display:none;"></a>
                <a href="#" class="list-group-item list-group-item-action" style="display:none;"></a>
                <a href="#" class="list-group-item list-group-item-action" style="display:none;"></a>
                <a href="#" class="list-group-item list-group-item-action" style="display:none;"></a>
                <a href="#" class="list-group-item list-group-item-action" style="display:none;"></a>
                <a href="#" class="list-group-item list-group-item-action" style="display:none;"></a>
                <a href="#" class="list-group-item list-group-item-action" style="display:none;"></a>
                <a href="#" class="list-group-item list-group-item-action" style="display:none;"></a>
                <a href="#" class="list-group-item list-group-item-action" style="display:none;"></a>
              </div>
            </div>
          </div>
          
          </form>
    </div>
  </div>

  <script>
function myFunction() {
  var input = document.getElementById("search-box");
  var keyword = input.value.toUpperCase();
  var listGroup = document.getElementById("search-results");
  var items = listGroup.getElementsByTagName("a");
  if(keyword.trim() == '') {
    for(var i = 0; i < items.length; i++) {
        var item = items[i];
        item.innerText = "";
        item.setAttribute("href", "#")
        item.style.display = "none";
      }
    return;
  }
  $.ajax({
    url: "@routes.SearchController.searchMovies",
    type: "POST",
    headers: {
      'Content-Type': 'application/json'
    },
    data: JSON.stringify({
      "keyword": keyword
    }),
    success: function (data, textStatus, jqXHR) {
      for(var i = 0; i < items.length; i++) {
        var item = items[i];
        if(i < data.length) {
          item.innerText = data[i].text;
          item.setAttribute("href", data[i].link)
          item.style.display = "";
        } else {
          item.innerText = "";
          item.setAttribute("href", "#")
          item.style.display = "none";
        }
      }
    },
    error: function (jqXHR, textStatus, errorThrown) {
      console.log(errorThrown)
    }
  });
}
</script>

  </body>
</html>